include commentBlock

mixin picBlock( pic={} )
    .picBlock
        .picBlock__header 
            .user__thumnail
                img(src=pic.userAvatar, alt="user profile pic")
            span.user__name=pic.userName
            .user__etc
                i.fas.fa-ellipsis-h
        .picBlock__pic 
            img(src=pic.picUrl, alt="your Pic")
        .picBlock__pic_contents 
            .comment__icons 
                .icon_liked 
                    i.far.fa-heart.fa-2x
                .icon_addComment 
                    a(href=routes.picsDetail(pic.id)) 
                        i.far.fa-comment.fa-2x
                .icon_bookmark
                    i.far.fa-bookmark.fa-2x 
            .comments__liked 
                span 좋아요
                span #{pic.numLiked} 개
            .comments__fromME 
                span.user__name=pic.userName
                span.comment_mine 이곳은 이 사진에 대한 나의 설명입니다.
            .time__fromUploaded 
                span 10분 전
            .comments__list 
                .comment__unit
                    each oneCommentID in pic.commentIDs
                        +commentBlock({commentIDs:oneCommentID})
            
            
        form(action="").comments__addForm 
            input(type="text", name="", placeholder=" 댓글 달기 ... ")
            button(type="submit").btn__addComment 게시
